.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.container {
  display: flex;
}

.sGap {
  gap: 3px;
}

.mGap {
  gap: 5px;
}

#prefillModalContainer {
  background-color:  white;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: 'translate: -50%, -50%)';
}

#prefillOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
}

.prefill {
  border-color: grey;
  border-width: 2px;
}

.prefillEmpty {
  border-style: dashed;
}

.prefillEmpty:hover {
  border-color: blue;
}

.mappingContainer {
  background-color: red;
  position: fixed;
  z-index: 1000;
}